* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header {
    color: #d9b3ff;
    font-weight: bolder;
}

ul,
ol {
    color: green;
    background-color: aquamarine;
    list-style-position: inside;
}

ul {
    list-style-type: circle;
    margin-left: 500px;
    margin-right: 500px;
    border-style: dotted;
    border-width: 10px;
    border-color: #d9b3ff;
}

ol {
    font-size: 18px;
}

#box-list {
    border-style: dashed;
}